################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/TuMascota/AccesoDatos/obj/Debug
