<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AutoMapper" version="4.1.1" targetFramework="net461" />
  <package id="Castle.Core" version="3.3.3" targetFramework="net461" />
  <package id="Castle.Windsor" version="3.3.0" targetFramework="net461" />
  <package id="EntityFramework" version="6.1.3" targetFramework="net461" />
  <package id="log4net" version="2.0.3" targetFramework="net461" />
  <package id="Newtonsoft.Json" version="7.0.1" targetFramework="net461" />
  <package id="RestSharp" version="105.2.3" targetFramework="net461" />
  <package id="uibasoft-base-aplicacion" version="1.0.1-alpha2" targetFramework="net461" />
  <package id="uibasoft-base-comunes" version="1.0.2-alpha5" targetFramework="net461" />
  <package id="uibasoft-base-comunes-specification" version="1.0.1-alpha2" targetFramework="net461" />
  <package id="uibasoft-base-core" version="1.0.0-alpha4" targetFramework="net461" />
  <package id="uibasoft-base-dominio" version="1.0.5-alpha5" targetFramework="net461" />
  <package id="uibasoft-base-infraestructura-crosscuting" version="1.0.0-alpha8" targetFramework="net461" />
  <package id="uibasoft-base-infraestructura-crosscuting-email" version="1.0.0-alpha3" targetFramework="net461" />
  <package id="uibasoft-base-infraestructura-crosscuting-netframework" version="1.0.3-alpha3" targetFramework="net461" />
  <package id="uibasoft-base-infraestructura-transversales-iocontainer" version="1.0.3-alpha5" targetFramework="net461" />
  <package id="Unity" version="3.5.1404.0" targetFramework="net461" />
</packages>