
@{
    ViewBag.Title = "Home";
}
<div id="wrapper">
    <div id="content">
        <div id="main">
            <div class="row main">
                <br />
                <br />
                <div class="row">
                    <h1 class="text-center col-md-10 col-md-offset-1">Busca una mascopa para adoptar..</h1>
                </div>
                <br />
                <div class="row">
                    <div class="input-group input-group-lg col-md-6 col-md-offset-3">
                        <input id="buscador" autofocus class="form-control">
                        <span class="input-group-btn">
                            <button class="btn btn-primary" type="button">Buscar</button>
                        </span>
                    </div>
                    <p class="col-md-6 col-md-offset-3">
                        Intenta: Cachorros, perros, gatos, loros, etc..
                    </p>
                </div>
            </div>
            <div class="row">
                <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
                    <!-- Indicators -->
                    <ol class="carousel-indicators">
                        <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                        <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                        <li data-target="#carousel-example-generic" data-slide-to="2"></li>
                    </ol>

                    <!-- Wrapper for slides -->
                    <div class="carousel-inner" role="listbox">
                        <div class="item active">
                            <div class="carousel-caption">
                                Texto del item 1
                            </div>
                        </div>
                        <div class="item">
                            <div class="carousel-caption">
                                Textod el item 2
                            </div>
                        </div>
                        ...
                    </div>

                    <!-- Controls -->
                    <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
                        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
                        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
